<%= div_for message do %>
	<%= link_to message, :remote => true, method: :delete, :class => 'close pull-right', :title => 'Nachricht löschen' do %>&times;<% end %>
	<p>Von <b><%= message.sender.get_full_name %></b> <small>Gesendet am <%= message.created_at.strftime("%d.%m.%Y %H:%M:%S") %></small></p>
	<p><%= message.content.html_safe %></p>
<% end %>