<div class="page-header">
  <h2>Showing user</h2>
</div>

<table class="table-details">
	<thead>
	</thead>
	<tbody>
		<tr>
			<td>First name</td>
	  		<td><%= @user.firstname %></td>
		</tr>
	
		<tr>
			<td>Name</td>
	  		<td><%= @user.name %></td>
		</tr>
	
		<tr>
	  		<td>E-Mail</td>
	  		<td><%= @user.email %></td>
		</tr>
	
		<tr>
	  		<td>Company</td>
	  		<td><%= @user.company %></td>
		</tr>
	</tbody>
</table>

<p>
	<%= link_to "Analyze time records", analyze_timerecords_path(:filter_user => @user.id) %><br />
<b><a href="#" class="buttonToggle" data-toggle-this="toggleTimeRecords">Time records <i class="icon-list"></i></a></b></p>
<div class="toggleVisibility" id="toggleTimeRecords">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Project</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="timerecordsList">
      <%= render(@user.timerecords.order("start ASC"), { :show_date => true, :show_user => false, :show_project => true }) %>
    </tbody>
  </table>
</div>


<%= link_to 'Back', users_path, :class => 'btn btn-mini' %>
