<div class="page-header">
  <h1>Showing user</h1>
</div>


<p>
  <b>First name:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>E-Mail:</b>
  <%= @user.email %>
</p>

<p>
  <b>Company:</b>
  <%= @user.company %>
</p>

<p><b><a href="#" class="buttonToggle" data-toggle-this="toggleTimeRecords">Time records <i class="icon-list"></i></a></b></p>
<div class="toggleVisibility" id="toggleTimeRecords">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Project</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="timerecordsList">
      <%= render(@user.timerecords.order("start ASC"), { :show_date => true, :show_user => false, :show_project => true }) %>
    </tbody>
  </table>
</div>


<%= link_to 'Back', users_path, :class => 'btn btn-mini' %>
