<%= form_for(@client, :html => { :class => 'form-horizontal' }, :remote => :true) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :description, :size => "20x3" %>
    </div>
  </div>
  <div class="controls">
    <%= f.submit :class => "btn btn-primary" %>
    <% if params[:action] == "edit" %>
      <%= link_to 'Abbrechen', @client, :class => 'btn', :remote => :true %>
      <% if can? :destroy, @client %>
        <%= link_to @client, confirm: 'This will delete the project and all related time records! Continue?', :remote => true, method: :delete, :class => 'btn btn-danger pull-right' do %>Löschen<% end %></td>
      <% else %>
        <span class="btn btn-danger disabled pull-right" title="You may not delete the project because you are not the owner!">Löschen</span>
      <% end %>
    <% else %>
      <%= link_to 'Abbrechen', clients_path, :class => 'btn', :remote => :true %>
    <% end %>
  </div>
<% end %>
