<div class="page-header">
  <h2>Listing contacts</h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Client</th>
      <th>E-Mail</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @contacts.each do |contact| %>
    <tr id="contact_<%= contact.id %>">
      <td><%= link_to contact, contact %></td>
      <td><%= link_to contact.client, client_path(contact.client) %></td>
      <td><%= contact.email %></td>

      <td>
      	<% if can? :update, contact %>
      		<%= link_to edit_contact_path(contact),  :class => 'btn', :title => "Edit" do %><i class="icon-pencil"></i><% end %>
      		<%= link_to contact, confirm: 'Are you sure?', :method => :delete, :class => 'btn btn-danger', :title => "Delete" do %><i class="icon-trash"></i><% end %>
      	<% end %>
      </td>
    </tr>
  <% end %>
  </tdody>
</table>

<br />

<%= link_to 'New contact', new_contact_path, :class => 'btn btn-primary' %>