<ul class="nav nav-pills" id="tabs" data-tabs="tabs">
  <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
  <li><a href="#notes" data-toggle="tab">Nachrichten</a></li>
</ul>

<div class = "tab-content">
  <div class = "tab-pane active" id="details">
    <table class="table-details">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td>Beschreibung</td><td><%= @project.description %></td>
        </tr>
        <tr>
          <td>Geplanter Aufwand</td><td><%= format_seconds_to_time(@project.planned_efforts) %></td>
        </tr>
        <tr>
          <td>Bisheriger Aufwand</td><td><%= format_seconds_to_time(@project.total_duration) %></td>
        </tr>
        <tr>
          <td>Verbleibender Aufwand</td><td><%= format_seconds_to_time(@project.planned_efforts-@project.total_duration) %></td>
        </tr>
        <tr>
          <td>Kunde</td>
          <td>
            <% if @project.Client.user_id == current_user.id %>
              <%= link_to @project.Client, client_path(@project.Client) %>
            <% else %>
              <%= @project.Client %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Projektmitarbeiter</td>
          <td>
            <% @project.users.each do |user| %>
              <p id="member_<%= user.id %>">
                <%= render(user) %>
                <% if @project.Client.user_id == user.id %>
                  <span class="label label-info">Projekteigentümer</span>
                <% end %>
              </p>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

    <p>
      <%= link_to analyze_timerecords_path(:filter_project => @project.id), :class => "btn" do %><i class="icon-search"></i> Buchungen auswerten<% end %>
    <!--
      <b><a href="#" class="buttonToggle" data-toggle-this="toggleTimeRecords"><i class="icon-list"></i> Time records</a></b>
      <div class="toggleVisibility" id="toggleTimeRecords">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>User</th>
              <th>Date</th>
              <th>Start</th>
              <th>End</th>
              <th>Duration</th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="timerecordsList">
            <% #render(@project.timerecords.order("start ASC"), { :show_date => true, :show_user => true, :show_project => false }) %>
          </tbody>
        </table>
      </div>
    -->
    <% if can? :edit, @project %>
      <%= link_to edit_project_path(@project), :class => 'btn pull-right' do %><i class="icon-pencil"></i> Bearbeiten<% end %>
    <% else %>
      <%# <span class="btn btn-mini disabled" title="You may not edit the project because you are not the owner!"><i class="icon-pencil"></i> Edit</span> %>
    <% end %>
    </p>

  </div>

  <div class = "tab-pane" id="notes">
    <%= render "projectnotes/form" %>

    <div id = "projectnotes">
      <%= render(@project.projectnotes) %>
    </div>
  </div>
</div>