<div class="page-header">
  <h2>Projektliste <%= image_tag("ajax-loader.gif", :style => "visibility: hidden", :id => "img_ajax_loader") %></h2>
</div>

<%= link_to 'Neues Projekt anlegen', new_project_path, :class => 'btn btn-primary' %>

<div class="row">
  <div class="span4">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Fortschritt</th>
        </tr>
      </thead>

      <tbody>
      <% @projects.each do |project| %>
        <%
          progress = 100*project.total_duration/project.planned_efforts
        %>
        <tr id="project_<%= project.id %>">
          <td><%= link_to project.name, project, :remote => :true %></td>
          <td>
            <div class="progress progress-<% if progress <= 70 %>success<% elsif progress <= 90 %>warning<% else %>danger<% end %> bttooltip" title="<%= progress %>%">
              <div class="bar" style="width: <%= [progress, 100].min %>%;"></div>
            </div>
          </td>
        </tr>
      <% end %>
      </tdody>
    </table>

  </div>

  <div class="span7 offset1" id="project_details">

  </div>
</div>